

.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <400>;
  font-style: normal;
}
body{
    background-color: #000000;
    color: white;
    margin-left: 20px;
    margin-right: 10px;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin: 20px 50px 20px 50px; */

}
nav ul{
    display: flex;
}

nav ul li{

    list-style: none;
  
    font-size: 20px;
}

nav ul li a{
    text-decoration: none;
    color: white;
    margin-right: 60px;
}

.inter{
    font-family: Inter;
    font-weight: 400;
    font-size: 20px;
    /* line-height: 100px; */
}
.logo{
    width: 150px;
    height: 50px;
    color: rgb(230, 83, 60);
    font-weight: 800;
    font-size: 40px;
    /* line-height: 100px; */
}
.btn-primary{
    background-color:rgb(230, 83, 60); 
    border: 1px solid black;
    border-radius: 15px;
    color: white;
    font-size: 20px;
    /* width: 150px; */
    /* height: 30px; */

}
.btn-third{
    width: 150px;
    height: 30px;
    border-radius: 15px;

}
.btn-secondary{
    background-color:rgb(230, 83, 60); 
    border: 1px solid black;
    border-radius: 15px;
    color: white;
    font-size: 20px;
    width: 150px;
    height: 30px;

}



.hero-container{
    position: relative;
    display: flex;
    justify-content: flex-start;
    background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%)
    

}
.part-one{
    width: 500px;
    height: 440px;
    /* display: flex; */
    /* flex-direction: row; */
    /* justify-content: flex-start; */
    margin-right: 150px;
}

.part-two{
    width: 350px;
    height: 580px;
}

.hero-title{
    font-weight: 900;
    font-size: 60px;
    font-family: Inter;
}
span{
    font-family: 'Miama', sans-serif;
}
   .hero-description{
    font-family: Inter;
    font-weight: 400;
    font-size: 20px;
   }
.view{
    position: absolute;
    width: 250px;
    height: 100px;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
     background: rgba(255, 255, 255, 0.1);
     backdrop-filter: blur(20px);
     text-align: center;
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
    border-radius: 20px;
    left: 850px;
    top: 90px;
}
.view-title{
    position: relative;
    bottom: 30px;
}
.view-description{
    position: relative;
    bottom: 50px;
}


.circle{
    position: relative;
    top: 20px;
    width: 40px;
    height: 40px;
    border: 1px solid red;
    border-radius: 50%;
    background-color:rgb(230, 83, 60); 
}  
.view-one{
    position: absolute;
    width: 250px;
    height: 100px;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 15px;
     background: rgba(255, 255, 255, 0.1);
     backdrop-filter: blur(20px);
     text-align: center;
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
    top: 420px;
    left: 500px;
}
.view-one-title{
    position: relative;
   bottom: 70px;

}

.view-one-description{
    position: relative;
    bottom: 100px;
}

.main-section{
    width: 1140px;
    height: 460px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    justify-items: center;
    align-items: center;
}


.main-section-head{
width: 520px;
height: 50px;
/* display: flex; */
/* flex-direction: column; */
/* justify-content: center; */
/* justify-items: center; */
/* text-align: center; */
}
.main-section-title{
    text-align: center;
}


.main-section-div{
    display: flex;
    flex-direction: row;
    margin-top: 150px;
}


.main-section-div-container{
    width: 250px;
    height: 280px;
    margin-right: 30px;
}
.main-section-div-img{
    border-radius: 50%;
}
.section-two{
    width: 1140px;
    height: 320px;
    display: flex;
    justify-content: space-between;
    margin-top:100px ;
    justify-items: center;
    background-color: rgb(34, 34, 34);

}
.section-two-caption{
    width: 500px;
    height: 300px;
}
.btn-primary{
    background-color:rgb(230, 83, 60); 
    border: 1px solid black;
    border-radius: 15px;
    color: white;
    font-size: 20px;

}


.section-two-div{
    width: 400px;
    height: 300px;

}

.section-two-img{
    width: 370px;
    height: 320px;
}

.section-three{
    width: 1140px;
    /* height: 600px; */
    display: flex;
    flex-direction: column;
    
}
.section-three-banner{

    width: 670px;
    height: 50px;
    margin-bottom: 120px
    
    
}


.section-three-banner-img-div{
    display: grid;
    grid-template-columns: repeat(3, 1fr);

}



.one{
    width: 400px;
    height: 250px;
}
.two{
    width: 500px;
    height: 250px;
}
.three{
    width: 400px;
    height: 250px;
}
.four{
    width: 400px;
    height: 250px;
}
.five{
    width: 500px;
    height: 250px;
}
.six{
    width: 400px;
    height: 250px;
}
.section-four{
    display: flex;
    flex-direction: column;
    align-items: center;

    
    
}
.chartbox{
    display: flex;
    justify-content: space-between;
    background-color: rgb(34, 34, 34);
}

.bmi{
    width: 320px;
    height: 310px;
}




table{
    border-collapse: collapse;
}
td{
    border: 1px solid black;
    width: 280px;
    height: 40px;
}



.Calculate{
    width: 580px;
    height: 390px;
}

form{
    gap: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
   
}
input{
    width: 280px;
    height: 40px;
    border-radius: 8px;

background: rgba(255, 255, 255, 0.1);
  
    
}

.last{ 
        grid-column: 1 / -1;  
        width: 580px; 
}











@media screen and (max-width:576px){
nav {
    display: flex;
    flex-direction: column;
} 
.hero-container{
    flex-direction: column;
}

.main-section-head{
    display: flex;
    flex-direction: column;
}
.main-section-div{
    display: flex;
    flex-direction: column;
}
.section-two{
    flex-direction: column;
}
.section-three-banner-img-div{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

.section-three-banner{
display: flex;
flex-direction: column;
}








}